<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redheaddev.gmjournal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.redheaddev.gmjournal.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.redheaddev.gmjournal.npcs.NpcList"
            android:label="NPCs"
            android:screenOrientation="portrait" />
        <activity android:name="com.redheaddev.gmjournal.loot.LootList"
            android:label="Loot"
            android:screenOrientation="portrait" />
        <activity android:name="com.redheaddev.gmjournal.npcs.NpcInfo"
            android:label="NPCs"
            android:screenOrientation="portrait" />
        <activity android:name="com.redheaddev.gmjournal.loot.LootInfo"
            android:label="Loot"
            android:screenOrientation="portrait" />
        <activity android:name="com.redheaddev.gmjournal.cities.CityList"
            android:label="Cities"
            android:screenOrientation="portrait" />
        <activity android:name="com.redheaddev.gmjournal.cities.CityInfo"
            android:label="Cities"
            android:screenOrientation="portrait" />
        <activity android:name="com.redheaddev.gmjournal.cities.locations.LocationList"
            android:label="Locations"
            android:screenOrientation="portrait" />
        <activity android:name="com.redheaddev.gmjournal.cities.locations.LocationInfo"
            android:label="Locations"
            android:screenOrientation="portrait" />
        <activity android:name="com.redheaddev.gmjournal.presets.PresetList"
            android:label="Presets"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity android:name="com.redheaddev.gmjournal.cities.distances.DistanceList"
            android:label="Travel Times"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity android:name="com.redheaddev.gmjournal.databaseManagement" />
        <activity android:name="com.redheaddev.gmjournal.npcs.NpcDisplay" />
        <activity android:name="com.redheaddev.gmjournal.loot.LootDisplay" />
        <activity android:name="com.redheaddev.gmjournal.cities.CityDisplay" />
        <activity android:name=".misc.MiscDisplay" />
        <activity android:name=".misc.MiscInfo" />
        <activity android:name=".misc.MiscList" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ccom.redheaddev.gmjournal.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

    </application>

</manifest>